html {
  font-size: calc(10px + 2vmin);
  font-family: sans-serif;
  background: #f2f2f2;
}

body,
* {
  line-height: 1.38em;
  display: block;
  background: none;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
}

head,
style,
script {
  display: none;
}

body,
noscript {
  height: 100vh;
  width: 100%;
  display: flex;
}

noscript {
  width: 100vw;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

button {
  margin: auto;
  padding: 2rem;
  font-size: 8rem;
  font-weight: bold;
  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

h1 {
  margin: auto;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: underline;
}

main {
  width: 100%;
}

nav {
  width: 100%;
  padding: 1rem;
  background: linear-gradient(to bottom, #16e3e7, #0acbff);
  wrapper- {
    display: flex;
    align-items: center;
    max-width: 70ex;
    margin: 0 auto;
    >*+* { margin-left: 1rem; }
  }
  icon- {
    width: 2rem;
    height: 2rem;
    border: 2px solid #fff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
  }
  a {
    color: #fff;
    &:not(:hover) { text-decoration: none; }
    font-size: .75rem;
  }
}

ul {
  padding: 1rem;
}

li {
  display: flex;
  margin: 0 auto;
  padding: 1rem 1rem 1rem 0;
  background: #fff;
  max-width: 70ex;
  &+& { border-top: 1px solid rgba(0,0,0,.1) }
  score- {
    flex: 4rem 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0acbff;
    font-weight: bold;
    font-size: .75rem;
  }
  article {
    display: flex;
    flex-direction: column;
  }
  meta- {
    display: flex;
    font-size: .6rem;
    margin-top: .25rem;
    >*+* { margin-left: .5ex; }
    &,a {
      color: rgba(0,0,0,.5);
    }
  }
  title- a {
    text-decoration: none;
    color: rgba(0,0,0,.75);
    font-size: .75rem;
  }
}

comment-list {
  margin: 0 auto;
  padding: 1rem;
}

header {
  max-width: 70ex;
  padding: 1rem;
  &+& { border-top: 1px solid rgba(0,0,0,.1) }
  background: #fff;
  margin: 0 auto;
  margin-top: 1rem;

  title- a {
    color: rgba(0,0,0,.75);
    font-size: .75rem;
    font-weight: bold;
    text-decoration: none;
  }

  meta- {
    display: flex;
    margin-top: .5rem;
    font-size: .6rem;
    >*+* { margin-left: .5ex; }
    &,a { color: rgba(0,0,0,.5); }
  }
}


comment- {
  max-width: 70ex;
  padding: 1rem;
  &+& { border-top: 1px solid rgba(0,0,0,.1) }
  background: #fff;
  margin: 0 auto;

  kids-:not(:empty) {
    margin-top: 1rem;
  }

  comment- {
    padding-right: 0;
    border-left: 1px solid rgba(0,0,0,.1);
  }

  meta- {
    display: flex;
    margin-bottom: .5rem;
    font-size: .6rem;
    >*+* { margin-left: .5ex; }
    &,a { color: rgba(0,0,0,.5); }
  }
  text- {
    font-size: .6rem;
  }
}
